@import '../../assets/sass/effects.scss';

.finish {
    display: inline-block;
    width: 100%;

    h1 {
        margin-top: 90px;
    }

    h3 {
        -webkit-animation: vibrate-1 0.3s linear infinite both;
        animation: vibrate-1 0.3s linear infinite both;
    }

    .actions {
        text-align: center;

        button {
            display: block;
            margin: 0 auto 20px;

            @media (max-width: 600px) {
                font-size: 11px;
            }
        }
    }

    .jables {
        display: block;
        margin: 0 auto;
        -webkit-animation: rotate-scale-up 0.65s linear 3 both;
        animation: rotate-scale-up 0.65s linear 3 both;

        @media (max-width: 600px) {
            width: 90%;
        }
    }

    @media (max-width: 600px) {
        font-size: 11px;
    }
}