@import '../../assets/sass/variables.scss';

.form {
    display: block;
    width: calc(45% - 2px);
    float: left;
    padding: 0 2.5%;
    border-right: 2px solid $white;
  
    label {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }

    input {
        display: block;
        width: 89%;
        margin-top: 10px;
        padding: 10px 20px;
    }
  
    button {
      display: block;
      margin: 0 auto;
      margin-top: 30px; 
    }

    @media (max-width: 600px) {
      width: 97%;
      border: 0 none;
      position: relative;
      left: -4px;
      border-bottom: 2px solid $white;
      padding-bottom: 50px;
      margin-bottom: 50px;

      input {
        max-width: 85%;
        margin: 10px auto 0;
      }

      label {
        text-align: center;
      }
    }
  }