@import '../../assets/sass/variables.scss';
@import '../../assets/sass/effects.scss';

.board {
    .arenaScore {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 25%;
        min-height: 275px;

        h4 {
            text-align: center;
            border-bottom: 2px dashed $white;
            padding-bottom: 20px;
        }

        @media (max-width: 600px) {
            position: relative;
            width: 100%;
            display: inline-block;
            max-width: 100%;
            bottom: auto;
            min-height: auto;
            padding: 0;
            float: inherit;
        }
    }

    .ship-block {
        @media (max-width: 600px) {
            display: inline-block;
            width: 100%;
            min-height: 400px;
        }
    }

    .player {
        display: block;
        width: 35%;
        position: relative;

        @media (max-width: 600px) {
            width: 50%;
        }

        &:first-child {
            float: left;

            img {
                position: absolute;
                right: 0;
                -webkit-animation: rotate-player-1 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: rotate-player-1 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                
                @media (max-width: 600px) {
                    right: inherit;
                    left: 20%;
                }
            }

            label {
                color: $blue;
            }
            
        }

        &:last-child {
            float: right;

            img {
                position: absolute;
                left: 0;
                -webkit-animation: rotate-player-2 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: rotate-player-2 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                
                @media (max-width: 600px) {
                    left: inherit;
                    right: 20%;
                }
            }

            label {
                color: $red;
            }

            .ship {
                animation: bounce 1.5s infinite;
                -webkit-animation: bounce 1.5s infinite;
                -moz-animation: bounce 1.5s infinite;
                -o-animation: bounce 1.5s infinite;
            }
        }

        .ship {
            animation: bounce 1.4s infinite;
            -webkit-animation: bounce 1.4s infinite;
            -moz-animation: bounce 1.4s infinite;
            -o-animation: bounce 1.4s infinite;
            width:100%;
            height:100%;
            display:inline-block;

            img {
                width: 60%;
            }
        }

        label {
            position: relative;
            bottom: 0;
            width: 100%;
            text-align: center;
            display: inline-block;
            text-shadow: 1px 1px 1px $effect-black;
        }

        &.loser {
            img {
                -webkit-animation: lose 0.6s ease-in both;
                animation: lose 0.6s ease-in both;
            }
        }

        .wins {
            display: block;
            margin: 20px auto;
            width: auto;
            height: auto;
            max-width: 193px;
            min-height: 35px;
            
            .bar {
                background: transparent;
                border: 2px solid $white;
                width: 60px;
                height: 30px;
                display: block;
                float: left;

                &.full {
                    background: $green;
                }

                &.lose {
                    background: $red;
                }
            }

            @media (max-width: 600px) {
                max-width: 165px;
                margin: 40px auto 20px;

                .bar {
                    width: 50px;
                    height: 20px;
                }
            }
        }
    }

    .panel {
        position: absolute;
        min-width: 15%;
        bottom: 0;
        text-align: center;
        padding-bottom: 20px;

        label {
            display: block;
            width: 100%;
            text-shadow: 5px -2px 9px $effect-black;
        }

        .moves-bubble {
            height: 160px;
            max-width: 160px;
            max-height: 160px;
            display: block;
            border-radius: 100px;
            background: transparent;
            border: 2px solid;
            margin: 50px auto 25px;
            
            &::after {
                content: 'chose u`r move';
                text-shadow: 5px -2px 9px $effect-black;
                color: $white;
                font-size: 15px;
                text-align: center;
                position: relative;
                top: 40%;
                display: block;
            }

            &.active {
                -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                left: -40px;
                position: relative;

                &::after {
                    content: 'not yet';
                }

                span {
                    position: absolute;
                    width: 160px;
                    height: 160px;
                    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    border-radius: 200px;
                    background-repeat: no-repeat;
                    background-position-x: 10px;
                    background-position-y: 10px;
                    background-size: contain;

    
                    &.rock {
                        top: -102%;
                        right: -87%;
                        background-image: url('../../assets/img/punch.png');
                        background-size: 140px 140px;
                    }
    
                    &.paper {
                        top: -25%;
                        right: -175%;
                        background-size: 140px 140px;
                        background-image: url('../../assets/img/shield.png');
                    }
    
                    &.sissors {
                        top: 70%;
                        right: -100%;
                        background-size: 100px 100px;
                        background-position-x: 25px;
                        background-position-y: 25px;
                        background-image: url('../../assets/img/sword-wound.png');
                    }

                    &:hover {
                        width: 162px;
                        height: 162px;
                    }
                }

                @media (max-width: 600px) {
                    left: -19%;
                }
            }

            &.red {
                span {
                    background-color: $red
                }
            }

            &.blue {
                span {
                    background-color: $blue
                }
            }
        }

        .red {
            border-color: $red;

            &:hover {
                background: $red;
                border-color: $white;
            }

            &.active {
                background: $red;
                border-color: $white;
            }
        }

        .blue {
            border-color: $blue;

            &:hover {
                background: $blue;
                border-color: $white;
            }

            &.active {
                background: $blue;
                border-color: $white;
            }
        }

        @media (max-width: 600px) {
            width: 100%;
            text-align: center;
            position: relative;
        }
    }    
}