@import '../../assets/sass/variables.scss';

.alert {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    bottom: 5%;

    li {
        position: relative;
        text-align: center;
        width: 50%;
        display: block;
        margin: 0 auto;
        font-size: 20px;
        color: $red;
        text-shadow: 1px 1px 1px $white;

        @media (max-width: 600px) {
            width: 100%;    
        }
    }
}