@import '../../assets/sass/variables.scss';

.scores {
    width: 45%;
    display: block;
    float: left;
    padding: 0 2.5%;
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $white;
        border-radius: 20px;
    }
    
    &::-webkit-scrollbar-track {
        background: $black;
        border-radius: 20px;
    }

    h4 {
        line-height: inherit;
        text-align: center;
    }

    table {
        display: inline-table;
        width: 100%;

        thead {
           th {
                border-bottom: 2px dashed $white;
                padding-bottom: 10px;
                text-shadow: 1px -2px 1px $effect-black;
                font-weight: 100;
           }
        }

        tbody {
            td {
                padding: 10px 0;
                border-right: 2px dashed $white;
                text-align: center;
                text-shadow: 1px -2px 1px $effect-black;

                &:last-child {
                    border-right: 0 none;
                }
            }
        }
    }
}