@font-face {
  font-family: 'PressStart';
  src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

@import './assets/sass/variables.scss';
@import './assets/sass/effects.scss';

body {
  color: $white;
  font-family: 'PressStart';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:$black url('./assets/img/stars.png') repeat top center;
  z-index:0;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a {
  text-shadow: 5px -2px 9px $effect-black;
  line-height: 4rem;

  @media (max-width: 600px) {
    line-height: 2.5rem;
  }
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: $white;
  color: $effect-black;
  font-family: 'PressStart';
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
    opacity: .8;
    -webkit-box-shadow:inset 1px 1px 1px 1px #f3f3f3;
    box-shadow:inset 1px 1px 1px 1px #f3f3f3;
  }

  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }

  &:focus {
    outline: none;
  }

  &.disable {
    cursor: not-allowed;
    opacity: .5;
  }
}

.alerts {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  color:$white;
  display: block;

  &.error {
    color: red;
  }
}

input {
  background: $black;
  color: white;
  border: 2px solid $white;
  border-radius: 8px;
  font-family: 'PressStart';
  padding: 5px 15px;

  &:focus {
    outline: none;
  }
}

.container {
  max-width: 900px;
  width: 100%;
  display: block;
  margin: 0 auto;

  h1 {
    @media (max-width: 600px) {
      font-size: 15px;
      width: 100%;
      text-align: center;
      padding: 0 10px;
      display: inline-block;
    }
  }
  
  h4 {
    @media (max-width: 600px) {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 600px) {
    .scores {
      display: inline-block;
      width: 100%;
    }
  }
}

.tittle-blink {
  animation:blinkingText 0.8s infinite;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .container {
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
}
